{% import 'base/macro/_base.html' as _base_macro %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{% block document_description -%}
            {%- if page -%}
                {%- if page.search_description -%}
                    {{ page.search_description }}
                {%- elif page.title -%}
                    {{ page.title }}
                {%- endif -%}
            {%- endif -%}
        {%- endblock %}">
        <meta name="author" content="{% block document_author %}Mikalai Radchuk{% endblock %}">

        <title>
            {%- block document_title -%}
                {%- if page -%}
                    {%- if page.seo_title -%}
                        {{ page.seo_title }}
                    {%- elif page.title -%}
                        {{ page.title }}
                    {%- else -%}
                        {{ settings.SITE_TITLE }}
                    {%- endif -%}
                {%- endif -%}
                {%- endblock -%}{%- block document_title_suffix -%}
            {%- endblock -%}
        </title>

        {% block document_css %}
            <link href="{{ static('base/css/vendor/bootstrap.min.css') }}" rel="stylesheet">
            <link href="{{ static('base/css/vendor/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
            <link href="{{ static('base/css/vendor/fonts.css') }}" rel="stylesheet">
            <link href="{{ static('base/css/styles.css') }}" rel="stylesheet">
            <!--[if lt IE 9]>
                <script src="{{ static('base/js/vendor/html5shiv.min.js') }}"></script>
                <script src="{{ static('base/js/vendor/respond.min.js') }}"></script>
            <![endif]-->
        {% endblock %}
    </head>

    <body>
        {{ wagtailuserbar() }}


        {% block navigation %}
            {{ _base_macro.navigation() }}
        {% endblock %}

        {% block main_content %}{% endblock %}

        {% block footer %}
            {{ _base_macro.footer() }}
        {% endblock %}

        {% block document_scripts %}
            <script src="{{ static('base/js/vendor/jquery.min.js') }}"></script>
            <script src="{{ static('base/js/vendor/bootstrap.min.js') }}"></script>
            <script src="{{ static('base/js/blog.js') }}"></script>
        {% endblock %}
    </body>

</html>
