<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{% block document_description %}{{ get_meta_description() }}{% endblock %}">
        <meta name="author" content="{% block document_author %}{{ _("Mikalai Radchuk") }}{% endblock %}">

        <title>{% block document_title %}{{ get_meta_title() }}{% endblock %}</title>

        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@{{ settings.TWITTER_USERNAME }}">
        <meta name="twitter:creator" content="@{{ settings.TWITTER_USERNAME }}">
        <meta name="twitter:title" content="{{ get_meta_title() }}">
        <meta name="twitter:description" content="{{ get_meta_description() }}">
        <meta name="twitter:image:src" content="{{ get_meta_image() }}" />

        {% if settings.FACEBOOK_APP_ID -%}
            <meta property="fb:app_id" content="{{ settings.FACEBOOK_APP_ID }}">
        {%- endif %}
        <meta property="og:title" content="{{ get_meta_title() }}">
        <meta property="og:description" content="{{ get_meta_description() }}">
        <meta property="og:image" content="{{ get_meta_image() }}">
        {% if page -%}
            <meta property="og:url" content="{{ page.full_url }}">
        {%- endif %}
        <meta property="og:site_name" content="mikola.by">
        <meta property="og:type" content="website">

        <link title="{{ _("Mikalai Radchuk - Tech Blog") }}" type="application/atom+xml" rel="alternate" href="{{ url('blog:feed') }}">
        {% if page -%}
            <link rel="canonical" href="{{ page.full_url }}">
        {%- endif %}

        {% block document_css %}
            <link href="{{ static('base/css/vendor/bootstrap.min.css') }}" rel="stylesheet">
            <link href="{{ static('base/css/vendor/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
            <link href="{{ static('base/css/vendor/fonts.css') }}" rel="stylesheet">
            <link href="{{ static('base/css/vendor/code_styles.css') }}" rel="stylesheet">
            <link href="{{ static('base/css/styles.css') }}" rel="stylesheet">
        {% endblock %}
    </head>

    <body>
        {{ google_tag_manager() }}
        {{ wagtailuserbar() }}


        {% block navigation %}
            {% set home_url = slugurl('home') %}

            <nav class="navbar navbar-default navbar-custom navbar-fixed-top hidden-print" id="common_navbar">
                <div class="container-fluid">
                    <div class="navbar-header page-scroll">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">{{ _('Toggle navigation') }}</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{ home_url }}">{{ settings.SITE_TITLE }}</a>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        {{ primary_nav() }}
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container -->
            </nav>
        {% endblock %}

        {% block main_content %}{% endblock %}

        {% block footer %}
            <footer>
                <div class="container hidden-print">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                            {% if settings.SOCIAL_MEDIA_URLS %}
                                <ul class="list-inline text-center">
                                    {% for media_key, media_url in settings.SOCIAL_MEDIA_URLS.items() %}
                                        <li>
                                            <a href="{{ media_url }}">
                                                <span class="fa-stack fa-lg">
                                                    <i class="fa fa-circle fa-stack-2x"></i>
                                                    <i class="fa fa-{{ media_key }} fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            <p class="copyright text-muted">{{ settings.FOOTER_COPYRIGHT|safe }}</p>
                        </div>
                    </div>
                </div>
            </footer>
        {% endblock %}

        {% block document_scripts %}
            <script src="{{ static('base/js/vendor/jquery.min.js') }}"></script>
            <script src="{{ static('base/js/vendor/bootstrap.min.js') }}"></script>
            <script src="{{ static('base/js/blog.js') }}"></script>
        {% endblock %}
    </body>

</html>
