{% if value %}

    <h2>
        {{ _('Working experience') }}
        <small>{{ (value|sort(attribute='start_at')|first).start_at|timesince() }}</small>
    </h2>

    {% for job_position in value %}
        <div class="row">
            <div class="col-md-2">
                {{ job_position.start_at|date('F Y') }} —
                {% if not job_position.leave_at %}
                    {{ _('present time') }}
                    <br>
                    <small>
                        {{ job_position.start_at|timesince(now()) }}
                    </small>
                {% else %}
                    {{ job_position.leave_at|date('F Y') }}
                    <br>
                    <small>
                        {{ job_position.start_at|timesince(job_position.leave_at) }}
                    </small>
                {% endif %}
            </div>
            <div class="col-md-10">
                <strong>{{ job_position.company_name }}</strong>
                <br>
                {% if job_position.location or job_position.website %}
                    {% if job_position.location %}{{ job_position.location }}{% endif %}
                    {%- if job_position.website -%}
                        , <a href="http://{{ job_position.website }}">{{ job_position.website }}</a>
                    {% endif %}
                    <br>
                {% endif %}
                <br>

                <div><strong>{{ job_position.position }}</strong></div>
                {{ job_position.description|richtext }}
                <br>
                {% if job_position.responsibilities %}
                    <div>{{ _('Обязанности') }}:</div>
                    {{ job_position.responsibilities|richtext }}
                {% endif %}

                {% if job_position.achievements %}
                    <div>{{ _('Достижения') }}:</div>
                    {{ job_position.achievements|richtext }}
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endif %}